body{
    padding:0;
    margin:0;
    background-color:rgb(136, 136, 215);
    p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    h2,h1{
        font-family:dancing, sans-serif;
        font-size:40px;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    }
    h3{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:20px;
        
    }
    .navigation{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        cursor:pointer;
    }
}
@font-face {
    font-family: dancing;
    src: url(../medias/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

.personalpresentation{
    width:60%;
    text-align:justify;
    line-height:20px;
    margin:auto;
    border:2px solid white;
    padding:15px;
}

.navigation{
    display:flex;
    flex-direction:row;
    align-items:center;
    
    .contact{
        margin-left:80px;
    }
    a{
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    ul{
        display:flex;
        flex-direction:row;
        list-style-type: none;
    }
    li{
        width:240px;
        display:flex;
        &:hover{
            color:white;
            font-weight: bold;
        }
    }
    img{
        border-radius:50%;
        height:70px;
    }
}
.main{
    img{
        width:100%;
        height:400px;
    }
    h1, h2{
        text-align:center;
    }
}
.xp{
    display:flex;
    flex-direction:row;
    margin:20px;
    flex-wrap:wrap;
    justify-content:space-around;
    .ouvrier{
        background-color:#b16ef9;
        width:650px;
        margin:20px;
        padding:10px;
        border-radius:30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .agriculture{
        background-color:#b16ef9;
        width:650px;
        margin:20px;
        padding:10px;
        border-radius:30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .vente{
        background-color:#b16ef9;
        width:650px;
        margin:20px;
        padding:10px;
        border-radius:30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .restauration{
        background-color:#b16ef9;
        width:650px;
        margin:20px;
        padding:10px;
        border-radius:30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .resume{
        background-color:#b16ef9;
        width:650px;
        margin:20px;
        padding:10px;
        border-radius:30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.savoirfetre{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:20px;
    justify-content:space-around;
    h3{
        text-align:center
    }
    .savoirfaire{
        display:flex;
        flex-direction:column;
        width:600px;
        background-image:url("../medias/fallout.png");
        padding:10px;
        border-radius:50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top:20px;
        color:white
    
    }
    .savoiretre{
        display:flex;
        flex-direction:column;
        width:600px;
        background-image:url("../medias/fallout.png");
        padding:9px;
        border-radius:50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top:20px;
        color:white

    }
}

.mespassions{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:100%;
    justify-content:center;
    margin-bottom:30px;    
    .jv,.cuisine,.histoire{
        display:flex;
        flex-direction:column;
        width:300px;
        margin-top:20px;
        .rocketLeague{
            background-image:url("../medias/rocketleagueresize.png");
            padding:0;
            margin:15px 0;
            height:60px;
            background-repeat: no-repeat;
            font-size:20px;
            color:white;
            font-weight:bold;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:30px;
            max-width:220px!important;
            &:hover{
                transform:brightness(1.5)
            }
        }
        .gestion{
            margin-top:15px;
            border-radius:30px;
            background-image:url("../medias/civresize.png");
            padding:0;
            margin:auto 0;
            height:60px;
            background-repeat: no-repeat;
            width:220px!important;
            background-repeat: no-repeat;
            font-size:20px;
            color:white;
            font-weight:bold;
            display:flex;
            align-items:center;
            justify-content:center;
            &:hover{
                transform:brightness(1.5)
            }
        }
        .moule{
            background-image:url("../medias/moule.png");
            padding:0;
            margin:auto 0;
            height:60px;
            background-repeat: no-repeat;
            width:220px!important;
            font-size:20px;
            color:white;
            font-weight:bold;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:30px;
            &:hover{
                transform:brightness(1.5)
            }
        }
        .interethistoire{
            background-image:url("../medias/histoire.png");
            padding:0;
            margin:auto 0;
            height:60px;
            background-repeat: no-repeat;
            width:220px!important;
            font-size:20px;
            color:white;
            font-weight:bold;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:30px;
            &:hover{
                transform:brightness(1.5)
            }
        }
        
    }
    .sport{
        display:flex;
        flex-direction:column;
        width:150px;
        
        .football{
            margin:0;
            transform:brightness(1);
            background-image:url("../medias/football.png");
            padding:0;
            margin:auto 0;
            height:60px;
            background-repeat: no-repeat;
            width:250px!important;
            font-size:20px;
            color:white;
            font-weight:bold;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:30px;
            &:hover{
                transform:brightness(1.5)

            }
            
        }
        .course{
            margin:0;
            background-image:url("../medias/course.png");
            padding:0;
            margin:auto 0;
            height:60px;
            background-repeat: no-repeat;
            width:250px!important;
            font-size:20px;
            color:white;
            font-weight:bold;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:30px;
            
            
        }
    }
}
footer{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-left:80px;
    background-color:black;
    color:white;
    p{
        margin-left:80px;
        border-bottom:1px solid white;
    }
}